body{
    width:100vw;
    overflow-y: auto;
}

body{
    background-image: url(/assets/images/scanner-banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color:rgb(104, 106, 107);
    
}

.first-text{
    margin-top: 45%;
}

.blue{
    color:rgb(69,90,162) !important;
}

.card{
    border:none;
    background-color: transparent;
}

.fa-circle{
    color:orange !important;
    padding-right: 5px;
}

li{
    padding:12px 0;
}
.large{
    font-size: 115%;
}
.info-graphic{
    width:100%;
    height:auto;
}

footer{
    background-color: rgba(235,236,235,255);
    /* #ebeceb */
}